/* CSS yang sudah ada */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202126;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
}

.content {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
}

.dashboard-panel {
  display: flex; /* Mengubah menjadi flex untuk menampilkan Chat dan Notifikasi berdampingan */
  gap: 20px; /* Jarak antara Chat dan Notifikasi */
  width: 100%;
}

.dashboard-panel > div {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  flex: 1; /* Membuat setiap komponen mengambil ruang yang sama */
}

/* Styling untuk Chat dan Notifikasi */
.chatlist-container {
  display: grid;
  flex-direction: column;
  align-content: flex-start;
}
.notifications-container {
  display: flex;
  flex-direction: column;
}

.chat-item, .notification-item {
  background-color: #444;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.owner-dashboard-owner {
  padding: 30px;
}