/* CSS yang sudah ada */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202126;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
}

.content {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.content-admin {
  display: grid;
  padding: 20px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.content-admin-management{
  display: flex;
  padding: 20px;
  align-content: flex-end;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  margin: 40px;
  flex-direction: column;
  border-color: #ff0000;
  
}

.date{
  padding-top: 20px;
  margin: 9px;

}


.dashboard-panel {
  display: flex; /* Mengubah menjadi flex untuk menampilkan Chat dan Notifikasi berdampingan */
  gap: 20px; /* Jarak antara Chat dan Notifikasi */
  width: 100%;
}

.dashboard-panel > div {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin: 1rem;
  flex: 1; /* Membuat setiap komponen mengambil ruang yang sama */
}

/* Styling untuk Chat dan Notifikasi */
.chatlist-container {
  display: grid;
  flex-direction: column;
  align-content: flex-start;
}
.notifications-container {
  display: flex;
  flex-direction: column;
}

.chat-item, .notification-item {
  background-color: #444;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.owner-dashboard-owner {
  padding: 30px;
}

.customer-list {
  max-height: calc(10 * 40px); /* Approximate row height: 40px */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ddd;
  margin: 1rem;
}



.customer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0rem;
}

.customer-table th, .customer-table td {
  border: 1px solid #ffffff23;
  padding: 8px;
  text-align: left;
}

.customer-table th {
  background-color: #ff0000;
  font-weight: bold;
}

.customer-table tr:nth-child(even) {
  background-color: #50505078;
}

.customer-table tr:hover {
  background-color: #f1f1f12b;
}


.presensi-container {
  margin: 20px;
}

.date-selector {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f438;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.nomor-antrian-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;

}
.nomor-antrian-container h1 {
  font-size:150px;
  margin-top: 30px;
}
.nomor-antrian-container h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: ;
}

