/* Register.css */

body {
    background-color: #202126;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20px;
    height: 80vh;
  }
  
  .register-box {
    background-color: #2b2b2b;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .register-box h2 {
    color: #ff0000;
    margin-bottom: 1.5rem;
  }

  .register-box p {
    padding-top: 1rem;
  }
  
  .form-group-register {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .form-group-register label {
    display: block;
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .form-group-register input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    transition: border-color 0.3s;
  }

  .checkbox-register {
   margin: 10px;
  }
  
  .form-group-register input:focus {
    border-color: #ff0000;
    outline: none;
  }
  
  .error-message {
    color: #ff0000;
    margin-bottom: 1rem;
  }
  
  .success-message {
    color: #00ff00;
    margin-bottom: 1rem;
  }
  
  .login-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #c41400;
  }
  
  a {
    color: #ff0000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  